@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* Comentario Teste */
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #ffc50b;
    color:##648aaf;
    font-family: 'Roboto';
}
.content {
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.title {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 56pt;
    line-height: 115%;
    color: #648aaf);
}

.distak-title {
    color: #00208a;
}
.main-text {
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
.links-externos {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: space-evenly;
    
}
.presentation {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}